// Add  here all mixins and variables
$dark-color: #000;
$middle-color: #252525;
$light-color: #333;

@mixin name-section {
    color: #252525; 
    text-align: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase; 
}

@mixin section-text {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

@mixin border-bottom {
    border-bottom: 1px solid $middle-color;
    padding-bottom: 5%;
}
