.team__menu__box-item--btn{
    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 50px;
    background-color: #252525;
    border: none;
    cursor: pointer;
    @media (min-width:768px){
        width: 164px;
        align-items: center;
        justify-content: center;
        }
        @media (max-width:768px){
            width: 100%;
            align-items: center;
            justify-content: center;
            }
}

@mixin button-link {
    color: #FFF;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize; 
    background-color: $middle-color;
    border-radius: 50px;
    padding: 10px 25%;
}