.team{
    @media (max-width:768px){
        padding: 0px 20px;
    }
    @media (min-width:768px){
        padding: 0px 30px;
    }
    @media (min-width:1200px){
        padding: 0px 70px;
    }

    &__subtitle{
        @include name-section;
        margin-top: 0;
        @media (max-width:768px){
            font-size: 80px;
            margin-bottom: 30px;
        }
        @media (min-width:768px){
            font-size: 150px;
            margin-bottom: 30px;
        }
        @media (min-width:1200px){
            font-size: 212px;
            margin-bottom: 50px;
        }
    }
    &__menu{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;
        gap: 40px;
        &--item{
            padding: 30px 0px;
            &--name{
            color: #333;
            font-family: 'Gilroy-Regular', sans-serif;
            font-weight: 800;
            margin: 0;
            }
            &--work{
             margin: 5px 0 15px 0;
             color: #333;
             font-family: 'Gilroy-Medium', sans-serif;
             font-size: 20px;
             font-weight: 400;
            }
            &--img{
                filter: grayscale(100%);
                height: 507px;
                width: 100%;
            }
            @media (max-width:768px){
                width: 99%;
                }
                @media (min-width:768px){
                    width: 45%;
                }
                @media (min-width:1200px){
                    width: 20%;
                }
        }
    }
}
.social_network__menu{
    padding-left: 0;
    margin-top: 15px;
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 10px;
}

.team__menu__box-item{
    display: flex;
flex-direction: column;
justify-content: center;
    @media (max-width:768px){
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    }
    @media (min-width:1200px){
         width: 47%;
         height: 633px;
            }
    &--subtitle{
        color: #333;
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 30px;
        font-weight: 400;
        margin: 0
    }
    &--text{
        color: #333;
        font-family: 'Gilroy-Heavy', sans-serif;
        font-size: 64px;
        margin: 15px 0;
        @media (max-width:768px){
             text-align: center;
             font-size: 40px;
                }
        @media (max-width:1500px){
            font-size: 47px;
                }
    }
}