.logoes{
    border-bottom: 1px solid #252525;

    @media (max-width: 768px){
        padding: 30px 20px;
    }
    @media (min-width:768px){
        padding: 40px 30px;
    }    
    @media (min-width:1200px){
        padding: 70px;
    }
    &__menu{
        display: flex;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        @media (max-width: 1200px){
            gap: 20px;
        }
        &--item{
            border-radius: 50px;
            background-color: #fff;
            padding: 15px 40px;
        }
    }
}