.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include border-bottom;

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 100px;
        text-align: start;
        gap: 40px;
    }
}

.contact__tittle {
    @include name-section;
    margin: 0;
    padding: 30px 0;

    @media (min-width: 768px) {
        font-size: 150px;
    }
}

.contact__wrapper {
    
}

.contact__dscr {
    color: $middle-color;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase; 
    margin: 0;

    @media (min-width: 768px) {
        font-size: 64px;
    }
}

.contact__text {
    color: $middle-color;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 30px;
    font-weight: 400;

    @media (min-width: 768px) {
        font-size: 34px;
    }
}

.btn-link {
    @include button-link;

    @media (min-width: 768px) {
        padding: 10px 30px;
    }
}