.works{
     
    position: relative;
    @media (max-width: 1200px){
        padding: 30px 0;
    }
    @media (min-width: 1200px){
        padding: 70px 0px 100px 0px;
}
&__subtitle{
    margin: 0;
    color: $middle-color;
    text-align: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 300;

    @media (max-width: 768px){
        font-size: 80px;
    }
    @media (min-width: 768px){
        font-size: 150px;
    }
    @media (min-width: 1200px){
        font-size: 212px;
    }
   }

   &__menu{
    position: relative;
    display: flex;
    @media (max-width: 768px){
        flex-direction: column-reverse;
        padding: 0px 20px;
        gap: 20px;
        margin-top: 30px;
    }
    @media (min-width: 768px){
        flex-direction: column-reverse;
        padding: 0px 30px;
        gap: 30px;
        margin-top: 30px;
    }
    @media (min-width: 1200px){
        flex-direction: row;
        padding: 0px 70px;
        gap: 40px;
        margin-top: 50px;
    }
    &--bottom{
        @media (max-width: 768px){
            flex-direction: column;
            padding: 0px 20px;
            gap: 20px;
            margin: 40px 0;
        }
        @media (min-width: 768px){
            margin: 70px 0;
            flex-direction: column;
            padding: 0px 30px;
            gap: 30px;
        }
        @media (min-width: 1200px){
            flex-direction: row;
            padding: 0px 70px;
            gap: 40px;
        }
    }
    &--item{

        @media (max-width: 1200px){
            width: 100%;
        }
        @media(min-width: 1200px){
            width: 33%;
        }

    &--1{
        @media(max-width: 1200px){
            position: relative;
            height: 210px;
        }
        @media(min-width: 1200px){
            width: 30%;
            position: relative;
        }
    }
        &__text{

            &--name{
                margin-top: 0;
                margin-bottom: 20px;
                color: #000;
                font-family: 'Gilroy-Heavy', sans-serif;
                font-size: 35px;
                font-weight: 400;
            }

            &--link{
                color: #252525;
                font-family: 'Gilroy-Medium', sans-serif;
                font-size: 18px;
                font-weight: 400;
                padding: 15px 30px;
                border-radius: 50px;
                background-color: #FFF;

                &--2{
                    margin-left: 30px;
                }

                &--3{
                    background-color: #252525;
                    color: #FFF;
                    display: flex;
                    gap: 10px;
                    width: 162px;
                    position: absolute;
                    bottom: 0;
                    right: 0;

                }
            }
    
        }
    }

    &--img{
        @media (max-width: 768px){
            width: 100%;
            height: 432px;
        }
        @media (min-width: 768px){
            width: 100%;
            height: 921px;
        }
        @media (min-width: 1200px){
            width: 100%;
            height: 567px;
    }
    }

   }
   &__link{
    color: #252525;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 60px;
    border-radius: 50px;
    background-color: #FFF;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width:1200px){
        bottom: -90px; 
    }
}
}