.clients {
    padding-bottom: 30px;
    border-bottom: 1px solid $middle-color;

    @media (min-width: 768px) and (max-width: 1200px) {
        padding-bottom: 70px;
    }
    @media (min-width: 1200px) {
        padding-bottom: 130px;
    }
}


.clients__title {
    @include name-section;

    @media (min-width: 768px) {
        font-size: 150px;
    }

    @media (min-width: 1200px) {
        font-size: 212px;
    }
}

.clients__card {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background-color: #000000;
    gap: 1px;
    padding-left: 0;
    margin: 0;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.clients__box {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.clients__box-dscr {
    color: #333;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    margin: 0;
}

.clients__box-text {
    @include section-text;
    margin: 0;
}

.clients-wrapper {
    display: flex;
}

.clients__box-image {
    border-radius: 50px;
}

.clients__box-person {
    @include section-text;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0;
}

.clients__box-prof {
    @include section-text;
    margin: 0;
}