.service {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include border-bottom;
    padding: 0;

    @media (max-width: 1200px) {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}

.service__dscr {
    padding: 0 3%;
}

.service__img {
    background-image: url(../../images/what-i-do-bgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.service__title {
    @include name-section;

    @media (min-width: 768px) {
        font-size: 120px;
    }
}

.service__name {
    @include name-section;
    font-size: 35px;
    font-weight: 400;
    text-align: start;
    font-family: 'Gilroy-Heavy', sans-serif;

    @media (min-width: 768px) {
        font-size: 44px;
        line-height: 48px;
    }

    &--first:before {
        content: "01";
        font-family: 'Gilroy-Light', sans-serif;
    }
    &--second:before {
        content: "02";
        font-family: 'Gilroy-Light', sans-serif;
    }
    &--third:before {
        content: "03";
        font-family: 'Gilroy-Light', sans-serif;
    }
    &--fourth:before {
        content: "04";
        font-family: 'Gilroy-Light', sans-serif;
    }
}

.service__text {
    @include section-text;

    &--border {
        @include border-bottom;
    }

    &--padding {
        padding-bottom: 5%;
    }
}

