.about-me{
    border-bottom: 1px solid #252525;
    &__img{
        width: 100%;
    }

    &__social-text{
        display: flex;
        @media (max-width:1200px){
            flex-direction: column;
        }
        @media (min-width: 1200px){
            padding: 70px 0;
        }
        &--text{
margin: 0;          
color: $middle-color;
font-family: Gilroy;
font-size: 62px;
font-weight: 300;
@media (max-width: 768px){
    font-size: 30px;
}
@media (max-width: 1200px){
    text-align: center;
    padding: 30px;
}
@media (min-width: 768px){
    font-size: 52px;
}
@media (min-width: 1400px){
    font-size: 62px;
}
@media (min-width: 1200px){
    font-size: 62px;
    padding-left: 70px;
    padding-right: 70px;
}
}
&--digital{
color: #252525;
font-family: 'Gilroy-Regular', sans-serif;
font-weight: 800;
}
        &__background{
            background-color:#252525;

            &--name{
                color: #FFF;
text-align: right;
font-family: 'Gilroy-Medium', sans-serif;
font-size: 32px;
font-weight: 400;
line-height: 32px; /* 100% */

            }
        
            &__menu{
                display: flex;
                gap: 20px;
                justify-content: end;
            }
        }
}

}
.social-network{
    padding: 40px 30px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (max-width:1200px){
        padding: 40px 30px 40px 0px;
    }
}
