.header-menu{
      padding: 40px 30px;

      @media (max-width: 768px){
        padding: 20px;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &__logo{
        display: flex;
        align-items: center;

        &--name{
            color: #000;
            font-family: 'Gilroy-Regular', sans-serif;
            font-size: 35px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 0 0 10px;
            @media (max-width: 768px){
                display: none;
            }
        }
        &--copy{
            color: #000;
            text-align: center;
            font-family: 'Gilroy-Regular', sans-serif;
            font-size: 25px;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 0;
            @media (max-width: 768px){
                display: none;
            }
        }
    }

    &__btn{
        padding: 20px 0px;
        color: #252525;
        text-align: center;
        font-family: 'Gilroy-Heavy', sans-serif;
        font-size: 25px;
        font-weight: 400;
        background-color: #fff;
        border: none;
        cursor: pointer;
    }

    &__bottom{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        
       &--title{
        text-align: center;
        color: #252525;
        font-family: 'Gilroy-Heavy', sans-serif;
        font-weight: 400;
        text-transform: uppercase; 
        margin: 0;
        font-size: 150px;
        @media (max-width: 768px){
            font-size: 57px;
        }
        @media (min-width: 768px){
            font-size: 120px;
        }

       }
       &--subtitle{
        text-align: center;
        color:#252525;
        font-size: 150px;
        margin:0;
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        @media (max-width: 768px){
            font-size: 57px;
        }
        @media (min-width: 768px){
            font-size: 120px;
        }
       }

    }
}