.footer-page {
    text-align: center;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 7%;
    }
}

.footer-page__copirayt {
    color: #333;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400; 

    &--bold {
        font-family: 'Gilroy-Heavy', sans-serif;
    }
}

.footer-page__logo {

}

.footer-page__socials-logo {
    padding: 20px 5px;
}